#root {
  width: 500px;
  height: 500px;
  background: #eee;
  position: relative;
}

.body {
  width: 10px;
  height: 10px;
  background: #666;
  position: absolute;
}

.apple {
  width: 10px;
  height: 10px;
  background: #ff0000;
  position: absolute;
}
